<html>
    <%- include('../../../include/head'); -%>
    <body>
        <%- include('../../../include/navbarAdmin'); -%>

        <%if(data){%>
            <%if(status){%>
                <h3 class="text-center text-success mt15"> The item has been deleted</h3>
            <%}%>
            <div class="container mt-3">
                <h2 class="color-white">What game do you want to delete</h2>
                <input class="form-control" id="myInput" type="text" onkeyup="myFunction()" placeholder="Search..">
                <br>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="color-white">Games</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                        <%for (var row of data){%>

                                <tr>
                                    <td class="color-white"> <%= row.libelle%> </td>
                                    <td>
                                        <a href="/users/admin/games/delete/<%= row.id%>">
                                            <button type="btn btn-danger" name="delete"> Delete</button>
                                        </a>
                                    </td>
                                </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        <%}%>

        <%- include('../../../include/searchFunc'); -%>
        <%- include('../../../include/footer'); -%>
    </body>
</html>