<html>
    <%- include('../../../include/head'); -%>
    <body>
        <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
        <%- include('../../../include/navbarAdmin'); -%>
        <%if(status){%>
            <h3 class="text-center text-success mt15"> The tournament has been added</h3>
        <%}
        if(date){%>
            <h3 class="text-center text-warning mt15"> The date is invalid</h3>
        <%}
        if(invalid){%>
        <h3 class="text-center text-warning mt15"> The inputs are invalid</h3>
        <%}%>


        <div class="d-flex d-md-flex flex-column align-items-xl-center mt50">
            <h2 class="color-white text-center">Create a tournament</h2>
            <form method="POST" action="/users/admin/tournament/create">
                <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                <div class="d-flex flex-column align-items-center align-items-lg-center mydark">
                    <div class="d-flex flex-row w-100 h300">
                        <div class="d-flex flex-column w300 h-100 ml10 overflow-y-auto mt15 color-white">
                            <div class="table-responsive d-flex flex-column flex-grow-0">
                                <label>Search the game</label>
                                <input class="form-control w80p" id="myInput" type="text" onkeyup="myFunction()" placeholder="Search.."/>
                                    <table class="table table-bordered">
                                        <tbody id="myTable">
                                        <%for (var row of data){%>
                                            <tr>
                                                <td class="color-white"> <%= row.libelle%> </td>
                                                <td>
                                                    <input type="radio" name="idGame" value="<%= row.id%>" id="idGame<%= row.id %>" required>
                                                    <label class="color-white" for="idGame<%= row.id %>">Select</label>
                                                </td>
                                            </tr>
                                        <%}%>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                        <div class="border rounded d-xl-flex flex-row d-flex flex-row w700 h100 m10">
                                <div class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center h100 ml10 mr50">
                                    <label class="color-white">
                                        Tournament Name
                                         </label>
                                    <input type="text" name="tournamentName" class="w200" required/>
                                </div>
                                <div class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center h100 mr50">
                                    <label class="color-white">
                                        Minimum number of teams
                                         </label>
                                    <input type="number" name="minNbTeams" class="d-xl-flex" min="2" step="1" required />
                                </div>
                                <div class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center h100">
                                    <label class="color-white">
                                        Start Date
                                    </label>
                                    <input id="date"type="date" name="startingDate" required />
                                </div>
                        </div>
                    </div>
                        <div id="editor">

                    </div>
                    <button class="btn btn-primary m10" type="submit">Create tournament</button>

            </form>
        </div>
        <script>
            CKEDITOR.replace( 'editor' );
        </script>


        <%- include('../../../include/searchFunc') -%>

        <%- include('../../../include/footer'); -%>
    </body>
</html>