<html>
    <%- include('../include/head'); -%>
    <body>
        <%if (isAdmin===true){%>
            <%- include('../include/navbarAdmin'); -%>
        <%}
        else{%>
            <%- include('../include/navbar'); -%>
        <%}%>
        <%if(status===1){%>
            <h3 class="text-success text-center">Your team has been created</h3>
        <%}%>

        <%if(data){
                for (let row of data){ %>
                    <a href="/teams/<%= row.id%>">
                        <p class="color-white"><%= row.teamName%></p></br>
                    </a>

            <%}%>
        <%}%>





        <%- include('../include/footer'); -%>

    </body>
</html>