<html>
    <%- include('../include/head'); -%>
    <body>
        <%if (isAdmin===true){%>
            <%- include('../include/navbarAdmin'); -%>
        <%}
        else{%>
            <%- include('../include/navbar'); -%>
        <%}%>

        <main>
            <%if(status){%>
                <h3 class="text-danger text-center">Sorry, this team name is already taken</h3>
            <%}%>
            <div class="justify-content-xl-center d-xl-flex mx-auto w-50 mt50 mydark">
                <form method="POST" action="/teams/create">
                    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                    <h3 class="text-center color-white">
                       Create your own team
                    </h3>
                    <div class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center">
                        <label class="color-white">Team's name</label>
                        <input class="w-50" type="text" name="name" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Create</button>

                </form>
            </div>
        </main>
        <%- include('../include/footer'); -%>
    </body>
</html>
