<html>
        <%- include('../include/head'); -%>
    <body>
        <%if (isAdmin===true){%>
            <%- include('../include/navbarAdmin'); -%>
        <%}
        else{%>
            <%- include('../include/navbar'); -%>
        <%}%>
        <div class="d-flex d-md-flex flex-column align-items-xl-center">
            <h3 class="color-white mb15 text-center"><%= teaminfo.teamName%></h3>
            <%if(members){
                switch(status){
                    case 0:%>
                        <button type="button" class="btn btn-primary" disabled>Send a request</button>
                        <%break
                    case 1: %>
                        <button id="cancel" type="button" class="btn btn-secondary" name="cancel" value="1">Cancel request</button>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#cancel').click(function () {
                                    $.ajax({
                                        url: '/teams/'+<%= idPage%>,
                                        type: 'PUT',
                                        data: {cancel:1,_csrf: "<%= csrfToken %>" },
                                        success: function() {
                                            $("#cancel").hide();
                                            alert("Request cancelled ! ");
                                        },
                                    });
                                });
                            })
                        </script>

                        <% break
                    case 2:%>
                            <div class="d-xl-flex flex-row justify-content-xl-center h400 mt50">
                            <div class="col d-flex flex-column mr50">
                                <h3 class="text-info text-center"> pending inv</h3>
                                <div class="table-responsive">
                                    <table class="table mx-auto">
                                        <tbody class="overflow-y-auto">
                                                <%for (let row of members){ %>
                                                    <%if(row.pending === 1){%>
                                                        <tr id="<%= row.id%>">
                                                            <td><p class="color-white"> <%= row.pseudo%></p></td>
                                                            <td >
                                                                <button id="acc_<%=row.id%>" type="button" class="btn btn-success" name="accept" value="<%=row.id%>"> Accept</button>
                                                            </td>
                                                            <td>
                                                                <button id="del_<%= row.id%>" type="button" class="btn btn-danger" name="decline" value="<%=row.id%>"> Decline</button>
                                                                <script type="text/javascript">
                                                                    $(document).ready(function () {
                                                                        $('#acc_<%= row.id %>').click(function () {
                                                                            $.ajax({
                                                                                url: '/teams/'+<%= idPage%>,
                                                                                type: 'PUT',
                                                                                data: {accept : <%= row.id%>,_csrf: "<%= csrfToken %>" },
                                                                                success: function() {
                                                                                    $("#<%= row.id%>").hide();
                                                                                    alert("User accepted ! ");
                                                                                },
                                                                                error: function(){
                                                                                    alert("The team no longer exists ... ")
                                                                                }
                                                                            });
                                                                        });
                                                                    })
                                                                    $(document).ready(function () {
                                                                        $('#del_<%= row.id %>').click(function () {
                                                                            $.ajax({
                                                                                url: '/teams/'+<%= idPage%>,
                                                                                type: 'PUT',
                                                                                data: {decline : <%= row.id%>,_csrf: "<%= csrfToken %>" },
                                                                                success: function() {
                                                                                    $("#<%= row.id%>").hide();
                                                                                    alert("User's request removed ! ");
                                                                                },
                                                                                error: function(){
                                                                                    alert("The team no longer exists ... ")
                                                                                }
                                                                            });
                                                                        });
                                                                    });
                                                                </script>
                                                            </td>
                                                        </tr>
                                                    <%}%>
                                                <%}%>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <%break
                    case 3 :%>
                        <button id="leave" type="button" class="btn btn-danger" name="leave" value="1"> Leave</button>
                        <script>
                            $(document).ready(function () {
                                $('#leave').click(function () {
                                    $.ajax({
                                        url: '/teams/'+<%= idPage%>,
                                        type: 'PUT',
                                        data: {leave :1,_csrf: "<%= csrfToken %>" },
                                        success: function() {
                                            $("#leave").hide();
                                            alert("You left this team ! Please refresh ");
                                        },
                                    });
                                });
                            });
                        </script>


                        <% break
                    default:%>
                        <button id="req" type="button" class="btn btn-primary" name="request" value="1">Send a request</button>
                        <script>
                            $(document).ready(function () {
                                $('#req').click(function () {
                                    $.ajax({
                                        url: '/teams/'+<%= idPage%>,
                                        type: 'PUT',
                                        data: {request : 1,_csrf: "<%= csrfToken %>" },
                                        success: function() {
                                            $("#req").hide();
                                            alert("Your request has been sent ! Please refresh ");
                                        },
                                    });
                                });
                            });
                        </script>

                <%}%>
                <%if(status!=2){%>
                    <div class="d-xl-flex flex-row justify-content-xl-center h400 mt50">
                <%}%>
                <%if(status==1){%>
                    </div>
                <%}%>
                        <div class="col d-flex flex-column mr50">
                            <h3 class="text-info text-center"> Members</h3>
                            <%if(issue==1){%>
                                <h3 class="text-warning text-center"> You must first promote another member</h3>
                            <%}%>
                            <%if(issue==0){%>
                                <h3 class="text-warning text-center"> You can't promote yourself</h3>
                            <%}%>
                            <table class="table mx-auto">
                                <tbody>
                                <%for (let row of members){ %>
                                <%if(row.pending === 0){%>
                                    <tr id="<%= row.id%>">
                                        <td><p class="color-white"> <%= row.pseudo%></p></td>
                                        <%if(status===2){%>
                                        <td >
                                            <button id="prom_<%=row.id%>" type="button" class="btn btn-warning" name="promote" value="<%=row.id%>"> Promote</button>
                                        </td>
                                        <td>
                                            <button id="remove_<%= row.id%>" type="button" class="btn btn-danger" name="remove" value="<%=row.id%>"> Remove</button>
                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $('#prom_<%= row.id %>').click(function () {
                                                        $.ajax({
                                                            url: '/teams/'+<%= idPage%>,
                                                            type: 'PUT',
                                                            data: {promote : <%= row.id%>,_csrf: "<%= csrfToken %>" },
                                                            success: function(){
                                                                alert("Member promoted");
                                                                $(".btn").hide();
                                                            },
                                                            error: function(){
                                                                alert('you can not promote yourself...')
                                                            }
                                                        });
                                                    });
                                                });
                                                $(document).ready(function () {
                                                    $('#remove_<%= row.id %>').click(function () {
                                                        $.ajax({
                                                            url: '/teams/'+<%= idPage%>,
                                                            type: 'DELETE',
                                                            data: {remove : <%= row.id%>,_csrf: "<%= csrfToken %>" },
                                                            success: function() {
                                                                $("#<%= row.id%>").hide();
                                                                alert("Member removed ! ");
                                                            },
                                                            error: function(){
                                                                alert("You need to promote another member to leave the team");
                                                            }
                                                        });
                                                    });
                                                });
                                            </script>
                                        </td>
                                        <%}%>

                                    </tr>
                                <%}%>
                                <%}%>
                                </tbody>
                            </table>
                            <%}%>
                    </div>
            <div class="col d-flex flex-column">
                <h3 class="color-white text-center">Previous Matches</h3>
                <div class="table-responsive">

                <table class="mx-auto overflow-y-auto">
                    <tbody>
                    <%if(matches){
                            for (let row of matches){ %>

                                <tr>
                                    <td class="color-white "><%= row.teamName1%></td>
                                    <td class="color-white "><%= row.score1%> - <%= row.score2%> </td>
                                    <td class="color-white "><%= row.teamName2%></td>
                                </tr>
                            <%}%>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <%- include('../include/footer'); -%>
    </body>
</html>