<html>
    <%- include('../include/head'); -%>
    <body>
        <%if (isAdmin===true){%>
            <%- include('../include/navbarAdmin'); -%>
        <%}
        else{%>
            <%- include('../include/navbar'); -%>
        <%}%>

        <%if(data){%>
        <div class="d-flex d-md-flex flex-column align-items-xl-center mt80">
            <div class="d-flex justify-content-center flex-wrap">
                <%for (let row of data){ %>
                <div class="my-container border-solid mr10">
                    <img src="<%= row.img%>" alt="<%= row.titleGame%>" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <%=row.name%> </br>
                            <%= row.nbParticipant%> teams </br>
                            Starting date : <%= row.date_debut%> </br>
                            <a href="/tournaments/<%= row.id%>">
                                <button class="btn btn-primary" type="button" style="font-size: 11px;">Join</button>
                            </a>

                        </div>
                    </div>
                </div>
            <%}%>
            </div>
        </div>

        <%}%>





        <%- include('../include/footer'); -%>
    </body>
</html>