<html>
    <%- include('../include/head'); -%>
    <body>
        <%if (isAdmin===true){%>
            <%- include('../include/navbarAdmin'); -%>
        <%}
        else{%>
            <%- include('../include/navbar'); -%>
        <%}%>

        <div>
            <label class="mx-auto color-white" for="oldPw">
                Old Password :
            </label>
            <input id="oldPw" type="password" name="oldPw" required minlength="8">
        </div>
        <div>
            <label class="mx-auto color-white" for="newPw">
                New Password :
            </label>
            <input id="newPw" type="password" name="newPw" required minlength="8"></br>
            <label class="mx-auto color-white" for="confPw">
                Confirm New Password
            </label>
            <input id="confPw" type="password" name="confPw" required minlength="8"></br>
            <button class="btn btn-primary" id="update" type="button">Update</button>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#update').click(function () {
                    $.ajax({
                        url: '/users/profile/<%= idUser%>/password',
                        type: 'PUT',
                        data: {
                            _csrf: "<%= csrfToken %>", oldPw: document.getElementById("oldPw").value,
                            newPw: document.getElementById("newPw").value,
                            confPw: document.getElementById("confPw").value,
                        },
                        success : function(){
                            alert("Password updated ! ");
                        },
                        error: function(){
                            alert("Bad inputs");
                        }
                    });
                });
            });
        </script>

        <%- include('../include/footer'); -%>
    </body>
</html>