<html>
    <%- include('../include/head'); -%>
    <body>
        <%if (isAdmin===true){%>
            <%- include('../include/navbarAdmin'); -%>
        <%}
        else{%>
            <%- include('../include/navbar'); -%>
        <%}%>
        <div class="d-flex d-md-flex flex-column align-items-xl-center">
        <%if(status===1){%>
            <div class="d-flex d-xl-flex flex-column align-items-center flex-sm-column flex-md-column flex-lg-column flex-xl-column align-items-xl-center">
                <h3 class="color-white">Team : </h3>
                <a href="/teams/<%= info.idTeam%>">
                    <button type="button" class="btn btn-primary"> My Team </button>
                </a>
            </div>
        <%}
        if(status===0){%>
            <div class="d-flex d-xl-flex flex-column align-items-center flex-sm-column flex-md-column flex-lg-column flex-xl-column align-items-xl-center">
                <h3 class="color-white">Team : </h3>
                <a href="/teams/create">
                    <button type="button" class="btn btn-primary"> Create </button>
                </a>
            </div>
        <%}%>

        <div class="d-flex d-xl-flex flex-column align-items-center flex-sm-column align-items-sm-center flex-md-column flex-lg-column flex-xl-column justify-content-xl-center mt15">
            <label for="name" class="color-white text-center ">Name : </label>
            <input id="name" class ="border rounded" name="name" type="text" value="<%= info.name%>" required></br>
            <label for="firstname" class="color-white text-center ">Firstname : </label>
            <input id="firstname" class ="border rounded" name="firstname" type="text" value="<%= info.firstname%>" required></br>
            <label for="pseudo" class="color-white text-center ">Pseudo : </label>
            <input id="pseudo" class ="border rounded" name="pseudo" type="text" value="<%= info.pseudo%>" required></br>
            <button id="update" class="btn btn-primary  mb15" type="button">Update</button>
            <a href="/users/profile/<%= idUser%>/password">Change your password</a>

        </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#update').click(function () {
                    $.ajax({
                        url: '/users/profile/<%= idUser%>',
                        type: 'PUT',
                        data: {_csrf: "<%= csrfToken %>",name:document.getElementById("name").value,
                            firstname:document.getElementById("firstname").value,
                            pseudo:document.getElementById("pseudo").value},
                        success: function() {
                            alert("Profile updated");
                        },
                        error: function(){
                            alert("Bad inputs");
                        }
                    });
                });
            });
        </script>

        <%- include('../include/footer'); -%>
    </body>
</html>