<html>
    <%- include('../include/head'); -%>
    <body>
        <%if (isAdmin===true){%>
            <%- include('../include/navbarAdmin'); -%>
        <%}
        else{%>
            <%- include('../include/navbar'); -%>
        <%}%>

        <%if(status===1){%>
            <div>
                <h3 class="color-white">Team : </h3>
                <a href="/teams/<%= info.idTeam%>">
                    <button type="button" class="btn btn-primary"> My Team </button>
                </a>
            </div>
        <%}
        if(status===0){%>
            <div>
                <h3 class="color-white">Team : </h3>
                <a href="/teams/create">
                    <button type="button" class="btn btn-primary"> Create </button>
                </a>
            </div>
        <%}%>

        <div>
            <label for="name" class="color-white">Name : </label>
            <input id="name" class ="border rounded" name="name" type="text" value="<%= info.name%>" required></br>
            <label for="firstname" class="color-white">Firstname : </label>
            <input id="firstname" class ="border rounded" name="firstname" type="text" value="<%= info.firstname%>" required></br>
            <label for="pseudo" class="color-white">Pseudo : </label>
            <input id="pseudo" class ="border rounded" name="pseudo" type="text" value="<%= info.pseudo%>" required></br>
            <button id="update" class="btn btn-primary" type="button">Update</button>
        </div>
        <a href="/users/profile/<%= idUser%>/password"><p>Change your password</p></a>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#update').click(function () {
                    $.ajax({
                        url: '/users/profile/<%= idUser%>',
                        type: 'PUT',
                        data: {_csrf: "<%= csrfToken %>",name:document.getElementById("name").value,
                            firstname:document.getElementById("firstname").value,
                            pseudo:document.getElementById("pseudo").value},
                        success: function() {
                            alert("Profile updated");
                        },
                        error: function(){
                            alert("Bad inputs");
                        }
                    });
                });
            });
        </script>

        <%- include('../include/footer'); -%>
    </body>
</html>